
.logo {
  color:#432277;
  font-size:32pt;
  text-align:right;
  font-family:Garamond,Verdana,sans-serif;
  font-variant:small-caps;
}

nav {
  font-size:12pt;
  color:#B1353D;
  float:right;
  font-family:Garamond,Verdana,sans-serif;
  text-align:right;
}

.main {
  font-family:Garamond,Verdana,sans-serif;
  color:#1A331A;
  text-align:center;
  overflow:scroll;
}

::-webkit-scrollbar {
    width:  10px;
    height: 10px;
    background-color:#528844;
}
::-webkit-scrollbar-thumb {
    background-color:#432277;
    width: 10px;
}


.menu {
  font-family:Garamond,Verdana,sans-serif;
  color:#7B8135;
}

.sitemap {
  font-family:Garamond,Verdana,sans-serif;
  color:#D8DAF3;
}

.submit {
  font-family:Garamond,Verdana,sans-serif;
  color:#1A331A;
}

.archives {
  font-family:Garamond,Verdana,sans-serif;
  color:#1A331A;
  text-align:center;
}
